:root {
    --primary-text-color: #131313;
    --secondary-text-color: #FCFCFC;
    --primary-bg-color: #84A178;
    --accept-color: #F8D24E;
    --card-bg-color: #AEC6A5;
    --card-bg-color-2: #EFD478;
    --card-bg-color-3: #D6936D;
	 --hover-bth-color:#0A8817;
	 --default-bth-color:#F8D24E;
	 --focus-bth-color:#0A8817;
	 --disable-bth-color:#ABABAB;
}


