:root {
    --primary-text-color: #131313;
    --secondary-text-color: #FCFCFC;
    --primary-bg-color: #84A178;
    --accept-color: #F8D24E;
    --card-color: #AEC6A5;
    --card-color-2: #EFD478;
    --card-color-3: #D6936D;
};