:root {
<<<<<<< feature/modal-ingredients-styles
  --primary-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --primary-bg-color: #84a178;
  --accept-color: #f8d24e;
  --card-bg-color: #aec6a5;
  --card-bg-color-2: #efd478;
  --card-bg-color-3: #d6936d;
  --hover-bth-color: #0a8817;
  --default-bth-color: #f8d24e;
  --focus-bth-color: #0a8817;
  --disable-bth-color: #ababab;
}
