<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">

        <li class="advantages__item">
            <!-- <div class="advantages__wrap">
                <svg width="36" height="36" class="advantages__icon">
                    <use href="./images/icons.svg#icon-cow"></use>
                </svg>
            </div> -->
            <p class="advantages__title advantages__title-cow">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    
        </li>
        <li class=" advantages__item">
            <!-- <div class="advantages__wrap">
                <svg width="36" height="36" class="advantages__icon">
                    <use class="" href="./images/icons.svg#icon-weight"></use>
                </svg>
            </div> -->
            <p class="advantages__title advantages__title-weight">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <!-- <div class="advantages__wrap">
                <svg width="36" height="36" class="advantages__icon">
                    <use class="" href="./images/icons.svg#icon-ice-crema"></use>
                </svg>
            </div> -->
            <p class="advantages__title advantages__title-ice">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

    </ul>
  </div>
</section>
