<section class="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Our Locations</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__name">
          <p class="contacts__institution">Cafe</p>
          <h3 class="contacts__city">Chicago</h3>
          <a href="#" class="contacts__link"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <ul class="contacts__schedule">
          <li class="contacts__weekdays">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__weekend">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connects">
          <li class="connects__item">
            <a
              href="tel:+610383766284 "
              class="connects__link connects__link--tel"
            >
              +61(0) 383 766 284
            </a>
          </li>
          <li class="connects__item">
            <a
              href="mailto:noreply@envato.com"
              class="connects__link connects__link--mail"
            >
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__name">
          <p class="contacts__institution">Foodtruck</p>
          <h3 class="contacts__city">Los Angeles</h3>
          <a href="#" class="contacts__link contacts__link--LA"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
        <ul class="contacts__schedule">
          <li class="contacts__weekdays">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__weekend">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connects">
          <li class="connects__item">
            <a
              href="tel:+610383766284 "
              class="connects__link connects__link--tel"
            >
              +61(0) 383 766 284
            </a>
          </li>
          <li class="connects__item">
            <a
              href="mailto:noreply@envato.com"
              class="connects__link connects__link--mail"
            >
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__name">
          <p class="contacts__institution">Cafe</p>
          <h3 class="contacts__city">New York</h3>
          <a href="#" class="contacts__link contacts__link--NY"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
        <ul class="contacts__schedule">
          <li class="contacts__weekdays">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__weekend">
            <p class="contacts__days">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="connects">
          <li class="connects__item">
            <a
              href="tel:+610383766284 "
              class="connects__link connects__link--tel"
            >
              +61(0) 383 766 284
            </a>
          </li>
          <li class="connects__item">
            <a
              href="mailto:noreply@envato.com"
              class="connects__link connects__link--mail"
            >
              noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__btn">
      <button
        class="btn btn--location js-open-modal"
        type="button"
        data-modal="map"
      >
        Our Locations
        <svg class="btn__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-bth"></use>
        </svg>
      </button>
      <button
        class="btn btn--franchise js-open-modal"
        type="button"
        data-modal="thanks"
      >
        Franchise
        <svg class="btn__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-bth"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
