<div class="modal modal__map" data-modal="map">
  <button class="button_close_map js-modal-close">
    <svg class="close__modal__map__icon">
      <use href="./images/icons.svg#icon-ep_close"></use>
    </svg>
  </button>
  <p class="modal__map__title">Our Locations</p>
  <picture>
    <source
      srcset="
        ./images/map_desktop_1x.jpg 448w,
        ./images/map_desktop_2x.jpg 896w
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/map_mobile_1x.jpg 224w, ./images/map_mobile_2x.jpg 448w"
    />
    <img
      src="./images/map_mobile_1x.jpg"
      alt="Our location on map"
      class="modal__map__image"
      sizes="100vw"
    />
  </picture>
  <a
    href="https://goo.gl/maps/E3ZgCwczDR9QPWZz6"
    class="modal__map__link__button"
    >Open map</a
  >
</div>
