<div class="modal modal__video">
  <svg class="close__modal__icon js-modal-close">
    <use href="./images/icons.svg#icon-ep_close"></use>
  </svg>
  <p class="modal__video__title">How it's made?</p>
  <iframe
    class="modal__video__video"
    height="315"
    src="https://www.youtube.com/embed/hO-7cz7gyAY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="modal__video__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
<div class="overlay js-overlay-modal"></div>
