<div class="modal__tnanks modal">
  <svg class="close__modal__icon js-modal-close">
    <use href="./images/icons.svg#icon-ep_close"></use>
  </svg>
  <p class="modal__thanks__title">
    Thank you for your interest in owning an Ice Cream shop
  </p>
  <p class="modal__thanks__description">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>
  <form class="modal__thanks__form">
    <input
      type="text"
      class="modal__thanks__form__input"
      name="name"
      placeholder="Name"
      required
    />
    <input
      type="tel"
      class="modal__thanks__form__input"
      name="phone_number"
      placeholder="Phone"
      required
    />
    <input
      type="email"
      class="modal__thanks__form__input"
      name="email"
      placeholder="Email"
      required
    />
    <textarea
      placeholder="Comment"
      class="modal__thanks__form__input"
      name="comment"
    ></textarea>
    <button type="submit" class="modal__thanks__submit__button">Submit</button>
  </form>
</div>
