<section class="reviews-gallery">
  <div class="container">
      <div class="wrap-gallery">
        <h2 class="visually-hidden">Gallery</h2>
        <img class="gallery-first"
          srcset="./images/slide_icecreem_desktop_1x.jpg 1x,
          ./images/slide_icecreem_desktop_2x.jpg 2x"
          src="./images/slide_icecreem_desktop_1x.jpg"
          alt="Gallery foto 1"
          width="1013"
          height="422"
        />
        <img class="gallery-second"
        srcset="./images/slide_icecreem_desktop_2_1x.jpg 1x,
        ./images/slide_icecreem_desktop_2_2x.jpg 2x"
        src="./images/slide_icecreem_desktop_2_1x.jpg"
          alt="Gallery foto 2"
          width="716"
          height="477"
        />
        <img class="gallery-third"
        srcset="./images/slide_icecreem_desktop_3_1x.jpg 1x,
        ./images/slide_icecreem_desktop_3_2x.jpg 2x"
        src="./images/slide_icecreem_desktop_3_1x.jpg"
          alt="Gallery foto 3"
          width="716"
          height="477"
        />
      </div>
      <div class="swiper myswiper">
          <h2 class="visually-hidden">Customer-reviews</h2>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-box">
                  <img class="reviews"
                    srcset="./images/Emily_desktop_1x.jpg 1x,
                    ./images/emily_desktop_2x.jpg 2x"
                    src="./images/Emily_desktop_1x.jpg"
                    alt="Foto reviews 1"
                    width="85"
                    height="85"
                />
                <p class="reviews-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="reviews-name">Emily, Los Angeles</p>
                </div>
              </div>
            <div class="swiper-slide">
              <div class="slide-box">
                <img class="reviews"
                    srcset="./images/sam_desktop_1x.jpg 1x,
                    ./images/sam_desktop_2x.jpg 2x"
                    src="./images/sam_desktop_1x.jpg"
                    alt="Foto reviews 1"
                    width="85"
                    height="85"
                />
                <p class="reviews-text">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
    
                </p>
                <p class="reviews-name">Sam, Los Angeles</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slaide-box">
                <img class="reviews"
                    srcset="./images/diana_desktop_1x.jpg 1x,
                    ./images/diana_desktop_2x.jpg 2x"
                    src="./images/diana_desktop_1x.jpg"
                    alt="Foto reviews 1"
                    width="85"
                    height="85"
                />
                <p class="reviews-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
                </p>
                <p class="reviews-name">Diana, Chicago</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-box">
                <img class="reviews"
                    srcset="./images/Bryan_desktop_1x.jpg 1x,
                    ./images/bryan_desktop_2x.jpg 2x"
                    src="./images/Bryan_desktop_1x.jpg"
                    alt="Foto reviews 1"
                    width="85"
                    height="85"
                />
                <p class="reviews-text">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
    
                </p>
                <p class="reviews-name">Bryan, New-York</p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      <!-- </div> -->
  </div>
</section> 
  

