.about{
    background-color: var(--primary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.about__wrap{
   @include tablet{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 62px
   }

   @include desktop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
   }

}


.about__pre-title{
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22/18);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
    @include desktop{
        font-weight: 800;
        font-size: 22px;
        line-height: calc(27/22);
        letter-spacing: 0.04em;
    }
    @include desktop{
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.04em;
    }
}

.about__title{
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38/30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    width: 200px;
    margin: auto;
    margin-bottom: 32px;
   
    @include tablet{
        font-size: 34px;
        line-height: calc(43/34);
        width: 454px;
    }
    @include desktop{
        font-size: 36px;
        line-height: calc(45/36);
        width: 481px;
        margin-bottom: 82px;
    }
}

.about__picture-wrap{
    position: relative;
    width: max-content;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
    @media screen and (max-width: 767px) {
        margin: auto;
      }
}

.about__picture-wrap::before {
    content: "";
    display: block;
    position: relative;
    top: 22px;
    width: 278.19px;
    height: 278.25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/cow_mobile_1x.png);
    @include retina {
        background-image: url(../images/cow_mobile_2x.png);
    }

    @include tablet {
        top: 24px;
        width: 334px;
        height: 330px;
        background-image: url(../images/cow_tablet_1x.png);
        @include retina {
            background-image: url(../images/cow_tablet_2x.png);
        }
    }

    @include desktop {
        top: 39px;
        width: 490px;
        height: 490px;
        background-image: url(../images/cow_desktop_1x.png);
        @include retina {
            background-image: url(../images/cow_desktop_2x.png);
        }
    }
}

.about__picture{
    position: relative;
    top: 20px;
    @include tablet{
        top: 26px;
    }
    @include desktop{
        top: 40px;
    }
    
}




.about__text-wrap{
    text-align: center;
    margin-top: 62px;
    @include tablet{
        width: 336px;
        text-align: left;
        margin-top: 0px;
    }
    @include desktop{
        width: 464px;
        margin-left: 100px;
        margin-top: 0px;
    }
}

.about__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondary-text-color);
    width: 220px;
    margin: auto;
    margin-bottom: 3px;
    @include tablet{
        text-align: left;
        width: 336px;
        margin-bottom: 5px;
    }
    @include desktop{
        text-align: left;
        width: 463px;
        font-size: 14px;
        line-height: 194%;
        margin-bottom: 8px;
    }
}
.about__text-lost{
    display: none;
    @include tablet{
        display: block;
    }
}

.about__btn{
    background-color: #F8D24E;
    border-radius: 10px;
    padding: 12px 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    color: #131313;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        background-color: #0A8817;
    }
    &:focus{
        color: #FCFCFC;
        fill: #FCFCFC;
    }


    @include tablet{
        display: inline-flex;
        margin-top: 48px;
    }
    @include desktop{
        display: inline-flex;
        margin-top: 48px;
    }
}

.about__btn-icon{
    margin-left: 4px;
}