.footer {
  background-color: var(--primary-bg-color);
  padding-bottom: 62px;
  @include tablet {
    padding-bottom: 13px;
  }
  @include desktop {
    padding-bottom: 11px;
  }
}
.footer__top-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
  letter-spacing: 0.04em;
  @include tablet {
    font-size: 26px;
    margin-bottom: 9px;
  }
  @include desktop {
    font-size: 30px;
    margin-bottom: 14px;
  }
}
.footer__text {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @include tablet {
    font-size: 48px;
    margin-bottom: 0px;
  }
  @include desktop {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.socials__list {
  display: flex;
  list-style: none;
  gap: 28px;
  justify-content: flex-end;
  margin-bottom: 38px;
  @include tablet {
    gap: 30px;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}
.socials__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  background-color: var(--accept-color);
  justify-content: center;
  align-items: center;
  transition: transform 250ms ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
    background-color: var(--accept-color);
  }
  @include tablet {
    width: 34px;
    height: 34px;
    padding: 4px;
  }
}
.socials__icon {
  fill: var(--primary-bg-color);
  transition: transform 250ms ease;
  transition: fill 250ms ease;
  .socials__link:hover &,
  .socials__link:focus & {
    fill: var(--secondary-text-color);
    transform: scale(1.1);
  }
  @include tablet {
    width: 20px;
    height: 20px;
  }
}
.footer__link {
  text-decoration: none;
}
.footer__tel {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
  text-align: right;

  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  @include tablet {
    font-size: 14px;

    padding-bottom: 26px;
  }
  @include desktop {
    font-size: 16px;
    padding: 6px;
  }
}

.tel__link {
  color: var(--secondary-text-color);
  transition: color 250ms ease;
  &:hover,
  &:focus {
    color: var(--accept-color);
  }
  @include tablet {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}
.container__copyright {
  display: block;
  padding-top: 16px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  width: auto;
  @include tablet {
    padding-top: 14px;
  }
  @include desktop {
    padding-top: 12px;
  }
}
.footer__copyright {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #7a7a7a;

  @include tablet {
    line-height: 1.85;
    letter-spacing: 0.02em;

    margin-right: auto;
    margin-left: auto;
  }
  @include desktop {
    font-size: 12px;
  }
}

.footer__copyright-end {
  white-space: pre;
}
.footer__titile {
  margin-bottom: 42px;
}
.footer__container {
  padding-bottom: 40px;
}
@include tablet {
  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    align-items: flex-end;
  }
  .footer__titile {
    max-width: 352px;
  }
}
@include desktop {
  .footer__titile {
    max-width: 504px;
  }
  .footer__container {
    padding-bottom: 54px;
  }
}
