.buynow {
  width: 100%;
  max-width: 500px;
  padding: 28px;
  overflow: auto;

  border: 2px solid #f8d24e;
  border-radius: 10px;
  text-align: center;

  background-color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    height: 100vh;
  }

  @include tablet {
    padding: 32px 54px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;

    background-color: transparent;
    border: none;
    transition: all var(--duration-cubic);

    &:hover {
      scale: 1.3;
    }

    &:focus {
      outline: 2px solid var(--primary-bg-color);
    }
  }

  &__title {
    font-family: 'Seymour One', sans-serif;
    font-size: 16px;
    display: block;
    line-height: calc(24 / 16);
    margin-bottom: 20px;
  }

  &__list {
    display: inline-flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @include tablet {
      gap: 32px;
      margin-bottom: 40px;
    }
  }

  &__item {
    border: 2px solid #96af8c;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 15.7%;
    border-bottom-right-radius: 15.7%;
    border-top: none;
    padding-bottom: 20px;

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }

    @include tablet {
      width: calc((100% - 64px) / 3);
    }

    &:nth-child(2) {
      border: 2px solid #efd478;
      background-color: #efd478;
      border-top: none;
    }

    &:last-child {
      border: 2px solid #d6936d;
      border-top: none;

      @media screen and (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(20 / 16);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    scale: 0;
  }

  &__scale {
    transition: scale var(--duration-cubic);

    .buynow__check:checked ~ & {
      scale: 1.15;
    }

    .buynow__check:focus ~ & {
      scale: 1.15;
    }
  }

  &__thumd {
    position: relative;

    &--cream {
      &::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 0%;

        border-radius: 50%;

        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)
          ),
          #d9d9d9;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
      }
    }

    &--coffee {
      &::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 0%;

        border-radius: 50%;

        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(248, 210, 78, 0.7),
            rgba(248, 210, 78, 0.7)
          ),
          #d9d9d9;
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
      }
    }

    &--milkshake {
      &::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 0%;

        border-radius: 50%;

        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(213, 117, 63, 0.7),
            rgba(213, 117, 63, 0.7)
          ),
          #d9d9d9;
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__img {
    margin-bottom: 28px;
    position: relative;
    z-index: 1;
  }
}

.inputes {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    row-gap: 12px;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    width: 100%;
    max-width: 450px;
    height: 32px;
    border: 1px solid #84a178;
    border-radius: 10px;
    background-color: rgba(248, 210, 78, 0.1);
    padding: 8px 12px;
    transition: scale var(--duration-cubic);

    &:focus {
      outline: 2px solid var(--primary-bg-color);
    }

    &:invalid:placeholder-shown {
      border-color: #84a178;
    }

    &:invalid {
      border-color: red;
    }

    @include tablet {
      height: 42px;
      width: 368px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    &::placeholder {
      font-size: 12px;
      line-height: calc(17 / 12);
      color: var(--primary-text-color);
    }
  }

  &__textarea {
    height: 65px;
    resize: none;

    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__btn {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: var(--primary-text-color);
    background-color: #f8d24e;
    border-radius: 10px;
    border: none;
    margin: auto;

    &:focus {
      outline: 2px solid var(--primary-bg-color);
    }
  }
}
