.ingredients-modal {
  width: 100%;
  max-width: 480px;
  padding: 28px 20px;
  overflow: auto;
  text-align: center;

  border: 2px solid #f8d24e;
  border-radius: 10px;

  background-color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    height: 100vh;
  }

  @include tablet {
    padding: 32px 40px;
    max-width: 568px;
    height: 90%;
  }

  &__close {
    position: absolute;
    top: 28px;
    right: 20px;

    background-color: transparent;
    border: none;
    transition: scale var(--duration-cubic);
    cursor: pointer;

    &:hover,
    &:focus {
      scale: 1.3;
      outline: none;
    }
  }

  &__title {
    font-family: 'Seymour One', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
      max-width: 142px;
    }

    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__thumb {
    position: relative;
    display: inline-block;
    margin-bottom: 28px;

    @include tablet {
      margin-bottom: 31px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5%;
      right: 0%;

      border-radius: 50%;

      width: 100%;
      height: 100%;
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }
  }

  &__img {
    border-radius: 50%;
    margin: auto;
    position: relative;
    z-index: 1;
  }

  &__list {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
    justify-content: center;

    @include tablet {
      gap: 20px;
      margin-bottom: 48px;
    }
  }

  &__item {
    position: relative;
    width: 53px;
    height: 72px;

    border: 2px solid #9cbe8f;
    border-radius: 40px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 8px;

    @include tablet {
      width: 65px;
      height: 90px;
      padding-bottom: 14px;
    }
  }

  &__numbers {
    position: absolute;
    top: -2px;
    left: 48%;
    transform: translateX(-48%);

    background-color: #9cbe8f;
    border-radius: 50%;

    padding: 8px 0;

    width: 43px;
    box-shadow: 0px 6px 20px 0px #0a881740;

    font-weight: 500;
    font-size: 10px;
    line-height: calc(28 / 10);

    @include tablet {
      padding-bottom: 12px;
      padding-top: 11px;
      width: 53px;
      font-size: 12px;
      line-height: calc(28 / 12);
    }
  }

  &__descr {
    font-size: 10px;
    line-height: calc(12 / 10);

    @include tablet {
      font-size: 12px;
      line-height: calc(15 / 12);
    }
  }
}

.ingredients {
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);

    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 48px;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
  }

  &__numbers {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
  }
}
