
.modal__video {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  width: 90vw;
  max-width: 440px;
  max-height: 90%;

  overflow-y: scroll;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;

  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (min-width: 480px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 568px;
    padding: 32px 60px;
    gap: 32px;
  }
}



.modal__video__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.close__modal__video__icon {
  
  width: 16px;
  height: 16px;
  
  
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }

        transition: scale var(--duration-cubic);
    
        .button_close_video:hover &,
        .button_close_video:focus &{
          scale: 1.3;
        }
}

.button_close_video {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
      top: 20px;
      right: 20px;
    }

    &:focus {
      outline: none;
    }
    padding: 0;
}

.modal__video__video {
  border-radius: 10px;
  max-height: 205px;
  width: 100%;
}

.modal__video__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: var(--primary-text-color);
  width: 224px;
@include mobile {
  width: 100%;
}

  @include tablet {
    font-size: 16px;
    line-height: 1.375;
    width: 448px;
  }
}
